@model BasketModel

<link rel="stylesheet" href="~/css/Basket.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">

<div class="d-flex flex-column align-items-center card-container">
    <h2 class="text-center">Basket</h2>

    @for (var i = 0; i < Model.Items.Count; i++)
    {
        var item = Model.Items[i];
        <div class="card mb-3" style="width: 100%;" data-item-id="@item.ItemId">
            <h5 class="card-header">Item #@(i + 1)</h5>
            <div class="row no-gutters">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <img src="~/assets/@item.PictureUrl" class="card-img" style="object-fit: cover; width:200px; height:200px;" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-text"><strong>Item Title:</strong> @item.ItemTitle</h5>
                        <h5 class="card-text"><strong>Price per Item:</strong> @item.ItemPrice</h5>
                        <div class="d-flex align-items-center">
                            <button class="btn btn-secondary btn-sm mr-2">-</button>
                            <h5 class="card-text mb-0"><strong>Quantity:</strong> @item.Quantity</h5>
                            <button class="btn btn-secondary btn-sm ml-2">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <h4 class="text-center"><strong>Total Price:</strong> @Model.TotalPrice</h4>
    <h4 class="text-center"><strong>Total Quantity:</strong> @Model.TotalCount</h4>
    <a href="@Url.Action("OrderForm", "Order")" class="btn mt-3" style="padding-left:50px; padding-right:50px; padding-top: 10px; padding-bottom: 10px; font-size: 22px; background-color:black; color: white;">Create Order</a>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btn-secondary.btn-sm.ml-2").click(function () {
            var itemId = $(this).closest('.card').data('item-id');
            $.ajax({
                type: "POST",
                url: "/Basket/AddBasketItem",
                data: {
                    ItemId: itemId
                },
                success: function (data) {
                    alert("Item added to basket");
                    location.reload(); 
                },
                error: function () {
                    alert("Error while adding item to basket");
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $(".btn-secondary.btn-sm.mr-2").click(function () {
            var itemId = $(this).closest('.card').data('item-id');
            $.ajax({
                type: "DELETE",
                url: "/Basket/DeleteBasketItem",
                data: {
                    ItemId: itemId
                },
                success: function (data) {
                    alert("Item removed from basket");
                    location.reload();
                },
                error: function () {
                    alert("Error while removing item from basket");
                }
            });
        });
    });
</script>