@model IEnumerable<MVC.ViewModels.CatalogViewModels.CatalogItemViewModel>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card border-0">
                <img class="card-img-top" src="@item.PictureUrl" alt="@item.Name" />
                <div class="card-body">
                    <h6 class="card-title">Title: @item.Name</h6>
                    <p class="card-subtitle">Type: @item.TypeName</p>
                    <p class="card-subtitle">Brand: @item.BrandName</p>
                    <p class="card-text">Price: @item.Price</p>
                </div>
            </div>
        </div>
    }
</div>